:root {
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --border: #0c200d 3px solid;
  --bg: rgb(40, 66, 40);
}

#tsparticles {
  position: relative;
  z-index: -1;
}

#logo {
  width: 75%;
  max-width: 500px;
}

label.post {
  font-size: 24px;
}

button {
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  background: rgb(63, 124, 63);
  border: var(--border);
  border-radius: 25px;
  height: 50px;
  width: 150px;
  font-size: 15px;
  color: whitesmoke;
}

textarea {
  background-color: var(--bg);
  border: var(--border);
  border-radius: 15px;
  color: whitesmoke;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

ul {
  list-style: none;
}

.post textarea {
  width: 80%;
  background-color: var(--bg);
}

.report {
  border: var(--border);
  background: var(--bg);
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.report_data {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.classification_report {
  border: var(--border);
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  background: rgb(184, 181, 181);
  color: var(--bg);
}

.feedback {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
}

.feedback:hover {
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .report_data {
    flex-flow: column;
  }
}
